<div class="row">
	<div class="col-md-12 portlet light">
		<div class="col-md-12">
			<div class="ant-card detailContent ant-card-bordered">
				<div class="ant-card-body">
					<div class="poeTitle"><span class="dataTitle">存证详情</span>
					</div>
					<div>
						<div class="dataDetail">
							<div class="row">
								<div class="col-sm-3  fieldLabel">存证合约：</div>
								<div class="col-sm-9">安云医疗区块链存证</div>
							</div>
							<div class="row">
								<div class="col-sm-3  fieldLabel">存证文件名哈希：</div>
								<div class="col-sm-9">{{evidence.filenameHash}}</div>
							</div>
							<div class="row">
								<div class="col-sm-3 fieldLabel">上链时间：</div>
								<div class="col-sm-9">{{evidence.fileUploadTime | date:'yyyy-MM-dd HH:mm:ss Z' }}</div>
							</div>
							<div class="row">
								<div class="col-sm-3 fieldLabel">存证内容哈希：</div>
								<div class="col-sm-9" style="word-break: break-all;">{{evidence.fileHash}}</div>
							</div>
							<div class="row">
								<div class="col-sm-3 fieldLabel">扩展存证信息：</div>
								<div class="col-sm-9" style="word-break: break-all;"></div>
							</div>
							<div class="row">
								<div class="col-sm-3 fieldLabel">所在区块高度：</div>
								<div class="col-sm-9">{{evidence.fileUploadTime}}</div>
							</div>
							<div class="row">
								<div class="col-sm-3 fieldLabel">所在区块哈希：</div>
								<div class="col-sm-9">{{evidence.hash}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>