<!-- site-notes></site-notes -->
<div class="row">
	<div class="col-md-12 mainbox">
		<div class="tableBox" style="height: 50px;">
			<div class="tableTitleLeft pull-left">
				<img src="../img/loading.gif">
				<span>最新存证</span>
			</div>
			<div class="tableTitleRight pull-right">
				<button class="btn btn-default" type="submit">查看全部</button>
			</div>
		</div>
		<table class="table table-striped">
			<tr style="height: 60px; line-height: 60px;">
				<th><span style="line-height: 60px;">所在区块高度</span></th>
				<th><span style="line-height: 60px;">存证项目</span></th>
				<th><span style="line-height: 60px;">存证内容</span></th>
				<th><span style="line-height: 60px;">时间</span></th>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						医疗数据存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
		</table>

	</div>
</div>
