<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<tr style="height: 60px; line-height: 60px;">
				<th><span style="line-height: 60px;">所在区块高度</span></th>
				<th><span style="line-height: 60px;">存证项目</span></th>
				<th><span style="line-height: 60px;">存证内容</span></th>
				<th><span style="line-height: 60px;">时间</span></th>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
			<tr style="height: 60px;line-height: 60px;">
				<td>
					<div style="height: 60px;line-height: 60px;">
						24150745
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						安云医疗区块链存证
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true">数据摘要</span>
					</div>
				</td>
				<td>
					<div style="height: 60px;line-height: 60px;">
						2020-05-28 20:21:12
					</div>
				</td>
			</tr>
		</table>

	</div>
</div>
